<table>
    <thead>
        <tr>
            <th>Período</th>
            <th>Aporte a Capital</th>
            <th>Pago de Intereses</th>
            <th>Seguros</th>
            <th>Pago Total</th>
            <th>Saldo Restante</th>
            <th>Capital Acumulado</th>
            <th>Intereses Acumulados</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>{{ 123 | currency}}</td>
            <td>{{ 123 | currency}}</td>
            <td>{{ 123 | currency}}</td>
            <td>{{ 123 | currency}}</td>
            <td>{{ 123 | currency}}</td>
            <td>{{ 123 | currency}}</td>
            <td>{{ 123 | currency}}</td>
        </tr>
    </tbody>
</table>