table {
    display: inline-block;
}

label {
    padding: 0.7ex 1ex;
    background-color:  #55608fEE;
    color: #fff;
    font-size: large;
    margin-right: 0.5ex;
    border-radius: 10px 0px;
    float: right;
    box-shadow: 2px 2px 2px black;
}

input {
    border-radius: 10px 0px;
    border: none;
    padding: 0.7ex;
    max-block-size: 2em;
    font-size: large;
    box-sizing: border-box;
    max-width: 150px;
    text-align: right;
    border:0; 
    border-bottom: 2px solid black;
    &:focus{
        border: 2px solid black;
    }
    box-shadow: 2px 1px 2px black;
}
  
select {
    padding: 0.7ex 0px;
    width: 100%;
    border: none;
    text-align-last: right;
    font-size: large;
    border-radius: 10px 0px;
    background-color: #f1f1f1;
    box-shadow: 2px 2px 2px black;
  }

  button {
    background-color:  #55608fEE;
    font-size: 20px;
    font-weight: bold;
    padding: 1ex 3ex;
    color: #fff;
    border-radius: 10px 0px;
    &:disabled {
      background-color:  #969696ee;
    }
    &:active {
      background-color:  #4e5885;
      text-shadow: 3px solid black;
    }
  }

  ::ng-deep .mat-slider-wrapper {
    .mat-slider-thumb-container {
      .mat-slider-thumb-label {
        width: 50px;
        height: 50px;
        top: -62px;
        right: -25px;
      }
    }
  }